@using mea.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@model HomeVM
<div class="container-fluid">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h1>Tables</h1>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                 <th scope="col">CategoryName</th>
                 <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menu in Model.Menus)
            {
                <tr>
                    <th scope="row">@menu.Id</th>
                    <td>@menu.Name</td>
                    <td>
                        <img src="~/assets/image/@menu.Image" style="width:100px" >
</td>
                    <td>@menu.Description  </td>
                    <td>@menu.Price</td>
            @foreach (var item in Model.Categories)
           {
               <td>@item.Name</td>
           }
                    <td>
                        
                        <a asp-action="Update"  asp-route-id="@menu.Id" class="btn btn-warning">Edit</a>
                        <a type="submit" asp-action="Delete" asp-route-id="@menu.Id" class="btn btn-danger btn-sweet-delete">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
